@media (max-width: 65em) {
  html {
    font-size: 58.25%;
  }
}
@media (max-width: 57em) {
  html {
    font-size: 53.25%;
  }
}
@media (max-width: 53em) {
  html {
    font-size: 50.25%;
  }
}
/* TABLET */
@media (max-width: 50em) {
  html {
    font-size: 47.25%;
  }
  .copyright {
    font-size: 1.6rem;
  }
}
@media (max-width: 47em) {
  html {
    font-size: 44.25%;
  }
  .copyright {
    font-size: 1.4rem;
  }
}
@media (max-width: 43em) {
  html {
    font-size: 41.25%;
  }
}
@media (max-width: 40em) {
  html {
    font-size: 38.25%;
  }
  .copyright {
    font-size: 1.2rem;
  }
}
@media (max-width: 37em) {
  html {
    font-size: 35.25%;
  }
}
@media (max-width: 34em) {
  html {
    font-size: 32.25%;
  }
  header {
    margin-top: -2.6rem;
  }
  h1 {
    text-align: left;
    text-shadow: 0px 5px 5px rgb(0, 0, 0, 0.1);
  }
}

/* MOBILE */
@media (max-width: 50em) {
  body {
    width: 767px;
  }
  .container {
    width: 76.7rem;
    margin: 0 auto;
  }
  .logo {
    width: 13rem;
    /* margin-top: -1.2rem; */
    /* margin-bottom: -2.4rem; */
  }
  .nav {
    font-size: 2.2rem;
    margin-right: -1rem;
    margin-bottom: 2.4rem;
    padding-bottom: -2.4rem;
  }
  header {
    grid-template-columns: 1fr;
    margin-top: -2.6rem;
  }
  header,
  section {
    margin-bottom: 2rem;
  }
  .chair-none {
    display: block;
  }
  .text-none
  /* .text-none2 */ {
    display: none;
  }
  h1 {
    font-size: 4.2rem;
    text-align: center;
    margin-bottom: 0.4rem;
    text-shadow: 0px 5px 5px rgb(0, 0, 0, 0.1);
  }
  .header-text {
    font-size: 2.4rem;
    padding: 1.2rem;
    margin-bottom: 1.2rem;
  }
  .btn--big {
    text-align: center;
    margin-left: 30rem;
    margin-bottom: 3.2rem;
    /* margin-right: 1rem; */
  }
  header img {
    width: 66%;
    text-align: center;
    margin-left: 13.5rem;
    margin-right: auto;
    display: none;
  }
  .features-title {
    font-size: 2.4rem;
  }
  .features-text {
    font-size: 2rem;
  }
  .grid-3-cols {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.4rem;
    column-gap: 4rem;
  }
  .grid-1-cols {
    grid-template-columns: 1fr;
  }
  .about {
    grid-template-columns: repeat(3, 1fr);
  }
  .testimonial-section {
    margin-top: 6rem;
    margin-bottom: 4rem;
  }
  .grid-2-cols {
    /* grid-template-columns: 1fr; */
    column-gap: 4rem;
  }
  /* .testimonial-img {
    /* width: auto;  
  }
 /* #shop {
  } */
  h3 {
    font-size: 2.4rem;
  }
  .chair-details li {
    font-size: 2.2rem;
  }
  footer {
    text-align: left;
    margin-bottom: -2rem;
  }
  .about {
    align-items: center;
  }
  .chairHub {
    padding: 3.2rem;
  }
  .account,
  .company,
  .resource {
    padding: 3.2rem;
  }
  .resource {
    display: none;
  }
  .foot_li {
    font-size: 2.5rem;
    text-shadow: 0px 5px 5px rgb(0, 0, 0, 0.1);
  }
  .copyright {
    font-size: 1.8rem;
    display: none;
  }
}
@media (max-width: 28.5em) {
  .container {
    width: 75rem;
    margin: 0 auto;
  }
}

@media (max-width: 31em) {
  html {
    font-size: 29.25%;
  }
  body {
    width: 425px;
  }
}
