@media (max-width: 65em) {
  html {
    font-size: 58.25%;
  }
}
@media (max-width: 57em) {
  html {
    font-size: 53.25%;
  }
}
@media (max-width: 53em) {
  html {
    font-size: 50.25%;
  }
}
/* TABLET */
@media (max-width: 50em) {
  html {
    font-size: 47.25%;
  }
  .copyright {
    font-size: 1.6rem;
  }
}
@media (max-width: 47em) {
  html {
    font-size: 44.25%;
  }
  .copyright {
    font-size: 1.4rem;
  }
}
@media (max-width: 43em) {
  html {
    font-size: 41.25%;
  }
}
@media (max-width: 40em) {
  html {
    font-size: 38.25%;
  }
  .copyright {
    font-size: 1.2rem;
  }
}
@media (max-width: 37em) {
  html {
    font-size: 35.25%;
  }
}
@media (max-width: 34em) {
  html {
    font-size: 32.25%;
  }
}
@media (max-width: 31em) {
  html {
    font-size: 29.25%;
  }
}
/* MOBILE */
@media (max-width: 28em) {
  .container {
    width: 78rem;
    margin: 0 auto;
  }
  .logo {
    width: 15rem;
    margin-top: -5.2rem;
  }
  .nav {
    font-size: 2.4rem;
    margin-right: -2rem;
  }
  header {
    grid-template-columns: 1fr;
    margin-top: -2.6rem;
  }
  header,
  section {
    margin-bottom: 2rem;
  }
  .chair-none,
  .text-none {
    display: block;
  }
  h1 {
    font-size: 5.2rem;
    text-align: center;
    margin-bottom: 0.4rem;
  }
  .header-text {
    font-size: 2.4rem;
    padding: 1.2rem;
    margin-bottom: 1.2rem;
  }
  .btn--big {
    text-align: center;
    margin-left: 30rem;
    margin-bottom: 3.2rem;
    /* margin-right: 1rem; */
  }
  header img {
    width: 66%;
    text-align: center;
    margin-left: 13.5rem;
    margin-right: auto;
    display: none;
  }
  .grid-3-cols {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.4rem;
  }
  .about {
    grid-template-columns: repeat(2, 1fr);
  }
  .testimonial-section {
    margin-top: 6rem;
    margin-bottom: 4rem;
  }
  .grid-2-cols {
    /* grid-template-columns: 1fr; */
    column-gap: 4rem;
  }
  .testimonial-img {
    /* width: auto; */
  }
  #shop {
  }
}
